:root {
  --green: #606c38;
  --gray: #F0F0F0;
}

body {
  font-family: "Poppins" !important;
}


/* Navbar Components */
#header {
  transition: all 0.7s;
  z-index: 997;
  background-color: white;
  top: -100%;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.08);
}
#header.header-scrolled, #header.header-inner-pages {
  top: 0;
}

.navbar-brand {
  color: black;
  font-size: 2.5rem !important;
  font-family: "Playfair Display", sans-serif;
  font-style: italic;

}
.navbar-custom {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-repeat:no-repeat;
}
.nav-link {
  color: var(--green) !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
  padding: 0.5em 1em !important;
}
/* End Navbar */
/* Hero components */
.hero {
  background:url("assets/home-bg.jpeg") repeat scroll center center/cover;
  height: 100vh;
  width: 100%;
  color: white;
}
.hero .container {
  height: 100%;
  width: 100%;
}
.hero-content {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hero-content h1 {
  font-size: 3.5rem;
  font-weight: 600;
}
.hero-social {
  display: flex;
}
.hero-social i {
  font-size: 1rem;
  color: white;
  padding-right: 1rem;
}
/*End hero */
/*Experience Components */
.work-item h3 {
  color: var(--green);
  margin-bottom: 0;
}
.work-item h4 {
  font-size: 1rem;
}
/* End Experience */

/* Random Stuff */
.bg-gray {
  background-color: var(--gray);
}
